<h1>DASHBOARD</h1>
<table class="table table-striped">
  <tbody>
    <tr>
      <td class="success text-center status">Number of Products:<%= @product_count %></td>
      <td class="warning text-center status">Number of Categories:<%= @category_count %></td>
    </tr>
  </tbody>
</table>